In [3]:
use sales; 
go

In [4]:
/*  specify credentials to external data source
*  IDENTITY: user name for external source. 
*  SECRET: password for external source.
*/
CREATE DATABASE SCOPED CREDENTIAL cosmoscred WITH IDENTITY = 'mcdemocosmosmongo', Secret = 'tsBvAC0t5GJaPqrc3H1F5msSVfNv2uxwYx9nlXGOFNTtX5KIdrROLiDHW2QRRJcXjHUYUamx91PrRNmbr5d5Pw==';

: Msg 15530, Level 16, State 1, Line 5
The credential with name "cosmoscred" already exists.

In [5]:
/*  LOCATION: Location string should be of format '<type>://<server>[:<port>]'.
*  PUSHDOWN: specify whether computation should be pushed down to the source. ON by default.
*CONNECTION_OPTIONS: Specify driver location
*  CREDENTIAL: the database scoped credential, created above.
*/
CREATE EXTERNAL DATA SOURCE external_data_source_name
WITH (LOCATION = 'mongodb://mcdemocosmosmongo.mongo.cosmos.azure.com:10255',
-- PUSHDOWN = ON | OFF,
CREDENTIAL = cosmoscred);

: Msg 46502, Level 16, State 1, Line 6
Type with name 'external_data_source_name' already exists.

In [21]:
DROP EXTERNAL TABLE cosmos_table

: Msg 15151, Level 16, State 1, Line 1
Cannot drop the EXTERNAL TABLE 'cosmos_table', because it does not exist or you do not have permission.

In [7]:
CREATE EXTERNAL TABLE cosmos_table
([_id] NVARCHAR(24))
WITH
(
    DATA_SOURCE = external_data_source_name,
    LOCATION = 'demomongo.demotable'
);
GO

In [8]:
SELECT * FROM cosmos_table